/* login.css */

.login {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
  background-color: #f0f0f0; /* Change this to your desired background color */
}

.loginForm {
  width: 300px;
  padding: 20px;
  background-color: #fff;
  border-radius: 8px;
  box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.1);
}

.lContainer {
  display: flex;
  flex-direction: column;
  gap: 10px;
}

.lInput {
  padding: 10px;
  border: 1px solid #ccc;
  border-radius: 4px;
  outline: none;
}

.lButton {
  padding: 10px;
  border: none;
  border-radius: 4px;
  background-color: #007bff; /* Change this to your desired button color */
  color: #fff;
  cursor: pointer;
  transition: background-color 0.3s ease;
}

.lButton:hover {
  background-color: #0056b3; /* Change this to your desired button hover color */
}

span {
  color: red;
  margin-top: 5px;
  font-size: 14px;
}
